@import '../../App.scss';
.container {
  min-height: calc(100vh - 66px);
  background-image: map-get(map-get($theme-1, 'liner-grad'), 'grad-1');
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
