@import '../../App.scss';
.header-wrapper {
  display: flexbox;
  justify-content: space-around;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  background: linear-gradient(to bottom, #192133, #111826);
  text-align: center;
  align-items: center;
  padding: 8.5px 16px;
  font-family: 'Roboto', 'HelveticaNeue-Light', sans-serif;
  justify-content: space-between;
  .header-left {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
  .header-right {
    justify-content: flex-end;
  }
}
.menu-items {
  list-style: none;
  display: contents;

  li.menu-item {
    color: map-get(map-get($theme-1, 'text'), 'L1');
    font-size: 16px;
    cursor: pointer;
    padding: 0px 16px;
  }
  li.menu-item:hover {
    color: map-get(map-get($theme-1, 'text'), 'L0');
  }
}
.header-items {
  display: flex;
  justify-content: space-around;
}
